{% extends "authentication/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="w-full p-3 max-w-lg mx-auto mb-4 bg-red-600 text-white rounded">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="md:max-w-lg w-full mx-auto md:px-8 py-8 px-4 bg-white rounded md:h-auto h-full">
        <h3 class="text-3xl font-semibold">Dashboard Login</h3>
        <form method="POST" class="my-10">
            {% csrf_token %}
            <div class="my-4">
                <label class="font-semibold text-slate-500">Username</label>
                <input type="text" name="username" class="border w-full mt-1 px-2 py-1 rounded bg-slate-200 border-slate-300 focus:outline-none focus:outline-indigo-500" placeholder="johndoe">
            </div>
            <div class="my-4">
                <label class="font-semibold text-slate-500">Password</label>
                <input type="password" name="password" class="border w-full mt-1 px-2 py-1 rounded bg-slate-200 border-slate-300 focus:outline-none focus:outline-indigo-500">
            </div>
            <div class="mt-8">
                <button type="submit" class="w-full py-2 border-indigo-700 bg-indigo-600 hover:bg-indigo-700 ease duration-200 text-white rounded">Login</button>
            </div>
        </form>
    </div>
{% endblock %}