{% load custom_filters %}
<section id="blogs" class="w-full text-white py-3 px-2.5">
    <div class="max-w-7xl mx-auto px-2">
        <h3 class="text-3xl font-semibold pt-5">Blogs</h3>
        <p class="mt-2.5 mb-3 text-slate-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sed maxime fugiat facere aliquid.</p>
        <div class="w-full mx-auto py-2 grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-2.5">
            {% for blog in blogs %}
            <a href="{% url 'view_blog' blog.blog_id %}" class="col-span-1 border border-slate-800 bg-slate-800/30 text-white rounded">
                <img src="{{ blog.image|clean_image_url }}" class="rounded-t h-60 w-full object-cover">
                <div class="p-4">
                    <h5 class="text-2xl font-semibold">{{ blog.title }}</h5>
                    <p class="mt-1 text-slate-300">{{ blog.subheading }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>