<nav class="w-full p-5 flex items-center justify-between">
    <a href="{% url 'index' %}" class="text-3xl font-semibold md:block hidden">Thaddeus Toledo</a>
    <ul class="flex items-center space-x-10 md:mx-0 mx-auto md:space-x-5 md:border-0 md:bg-transparent border px-4 py-2 rounded bg-slate-800 border-slate-600">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}#projects">Projects</a></li>
        <li><a href="{% url 'index' %}#blogs">Blogs</a></li>
    </ul>
</nav>